*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    perspective: 800px;
}
.main{
  width: 200px;
  height: 200px;
  position: relative;

  transform-style: preserve-3d;
  animation: rotateCube 6s linear infinite;

  margin: 200px auto;
}



.main div{
  position: absolute;
  width: 200px;
  height: 200px;

  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  backface-visibility:hidden;
}



.class1{
   transform: translatez(100px);
   background-image: url(dog.png);
   background-size: cover;
}












.class2{
    
    transform: rotateY(180deg) translateZ(100px);
    background-image: url(dog7.png);
    background-size: cover;
   
    


}





.class3{
    
    transform: rotateY(90deg) translateZ(100px);
background-image: url(dog3.png);}
  

 




    






.class4{
transform: rotateY(-90deg) translateZ(100px);
background-image: url(dog4.png);
}




    








.class5{
    transform: rotateX(90deg) translateZ(100px);
   background-image: url(dog5.png); 
}


    







.class6{
      transform: rotateX(-90deg) translateZ(100px);
      background-image: url(dog6.png);
}




    

@keyframes rotateCube{
     0%{
       transform: rotatex(0deg)  rotateY(0deg) ;
    } 
    
    100%{transform: rotatex(1080deg) rotateY(1080deg) ;
        }
}
 