*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar{
    height: 100px;
    background-color: black;
    color: white;
      display: flex;
      
       justify-content: space-evenly; 
       align-items: center;
  
     
    
}
.nav-logo{
  height:80px;
  width: 200px;
  display: flex;
  align-items: center;
  
  /* color: white; */
  


}
.logo{
  /* background-image: url(amazon2.png); */
  /* background-size: cover; */
  object-fit: cover;
  display: flex;
  /* margin-right: 3px; */
 height: 100px;
 width: 100px;
align-items: center;
margin-top: 5px;


 /* color: white; */
 

 
 }
.in{
  font-size: 2rem;
  margin-top: 7px;
  height: 60px;
  width: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border{
  border:1.5px solid transparent;
}
.border:hover{
  border: 1.3px solid white;
  cursor: pointer;
}
/*---------------*/


.nav-address{
  height: 50px;
  width: 140px;
  
  /* justify-content: center; 
  align-items: center; */
  
  margin-top: 10px;
 
}

 .add-first{
  font-size: 0.7rem;
  width: 138px;
  margin-left: 1.5rem;
  margin-top: 10px;
  
 }
  .add-second{
   font-size: 1rem;
   margin-left: 5px;
   
   
   /* margin-left: 5px; */
  }

  .add-icon{
    display: flex;
    /* width: 15px; */
    height: 16px;
    width: 140px;

  }

.add-icon i{
  
  color:pink;
  height: 18px;
  width: 15px;
}    
  

/**---------***/


.nav-search{
  height:50px;
  width: 260px;
  display: flex;
  justify-content: space-evenly;
  background-color:pink;
  border-radius: 4px;
   
}


.search-select{
  background-color:#e6e6e6;
  width:70px;
  align-items: center;

  border-top-left-radius:5px ;
  border-bottom-left-radius:5px ;
  border: none;
}

.search-select:hover{
  background-color:orange ;
}
.search-input{
 width: 100%;
 font-size: 1rem;
 border: none;
  
  
  
  
}

.search-icon{
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  background-color: #febd68;
  color:#0f1111
  
}
.search-icon:hover{
  background-color: #e29734;
}



/********/


.drop-down{
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
}

 .flag-logo{
  height: 25;
  width: 45px;
  display: flex;
  align-items: center;
  
 }

 .flag{
  background-image: url(flag.png);
  background-size: cover;
  height: 16px;
  width: 21px;
 }


.drop-down i{
  margin-top: 15px;
}



/* 
 .sign-in{
  width: 140px;
  height: 50px;
  justify-content: center;
 align-items: center;
} */

.sign-in span{
  height: 16px;
  width: 70px;
  font-size: 0.7rem;
}

.sign-in mix{
  height: 17px;
  width: 120px;
  font-size: 1rem;
}


/* .sign-i{
  display: flex;
} */
/* .nav-return{
  width:80px;
  height: 50px;
  
} */




.nav-return span{
  font-size: 0.7rem;
}


.nav-second{
  font-size: 1rem;
}


.cart
{
 height: 50px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart i{
  font-size: 25px;
  
}


/**  2nd panel     **/


.panel{
  height:60px;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.panel-all{
  font-size: 2rem;
}

.panel-ops p{
  display: inline;
  font-size: 1.5rem;

}


.panel-ops{
  width:90% ;
  font-size:1rem;
  display: flex;
  justify-content: space-evenly;
}




.Hero-section{
background-image: url(Herosection2.png);
background-size: cover;
height: 600px;

  
}

.shop-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;

}


.box{
  /* border:2px solid black; */
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;

}


.box P{
  font-weight:800;
}

.box-img{
  height: 300px;
 background-size: cover;
 margin-top:1rem
margin-bottom 1rem;
}

.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content p{
color: #007185
}




.shop-section2{
  display: flex;
  /* width: 23%; */
  background-color: #e2e7e6;
justify-content: space-evenly;

  

}


.Total{
  height: 270px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin: 0px 0px 44px;
  margin-top: 15px;
  display:flex; 
  
}


.Total p{
  font-weight: 800;
  color: #02171de5;
 text-align: center;
}




/* .box-content1{
  display:flex;
} */




.Img{
   height: 100px;
   width: 126px;
 background-size: cover;
 margin-top:1rem
margin-bottom 1rem;
}



.footer{
  margin-top: 15px;
}

.foot-panel1{
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.foot-panel2{
  background-color: #222f3d;
  color:white;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}




.ul{
  margin-top: 20px;
}


/* .ul a{
  display:block;
  font-size: 1rem;
  margin-top: 10px;
  columns: #dddddd;
} */




.foot-panel2 ul a{
  display:block;
  font-size: 1rem;
  margin-top: 10px;
  columns: #dddddd;
}



.foot-panel3{
  background-color: #222f3d;
  color: white;           /** text color**/
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo{
  background-image: url(amazon2.png);
  background-size: cover;
  display: flex;
  /* margin-right: 3px; */
  width: 150px;
  height: 50px;
}


.foot-panel4{
  background-color:#0f1111;
  color: white;
  height: 80px;
   font-size: 0.9rem;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}



.pages{
  font-size: 0.9rem;
 
}


.copyright{
  padding: 5px;
 
}



.box-content p,
.box-img:hover{
  cursor: pointer;
} 



.box-content1 p,
.Img:hover{
  cursor: pointer;
  
} 


.foot-panel1:hover{
  background-color: #4682cd;
  cursor: pointer;
}

.foot-panel2 a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.foot-panel3:hover{
  cursor: pointer;
  
}



.pages:hover{
  cursor: pointer;
  text-decoration: underline;
}




